<%= link_to "Crear nuevo ticket ->", new_ticket_path, class: "btn btn-primary mb-4", autofocus: true %>

<h1 class="fw-bold">Cómo vamos hasta ahora</h1>
<div class="row align-items-md-stretch mb-3">
  <div class="col-sm-12 col-md-4">
    <div style="border-radius: 8px;" class="p-4 bg-light border shadow-sm">
      <h1 class="fw-bold text-primary"><%= @burgers %></h1>
      <p>Hamburguesas de carne vendidas.</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 mb-3">
    <div style="border-radius: 8px;" class="p-4 bg-light border shadow-sm">
      <h1 class="fw-bold text-primary"><%= @veggies %></h1>
      <p>Hamburguesas veggie vendidas.</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 mb-3">
    <div style="border-radius: 8px;" class="p-4 bg-light border shadow-sm">
      <h1 class="fw-bold text-primary"><%= @drinks %></h1>
      <p>Bebidas vendidas.</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 mb-3">
    <div style="border-radius: 8px;" class="p-4 bg-light border shadow-sm">
      <h1 class="fw-bold text-primary"><%= @token_total %></h1>
      <p>Tokens vendidos.</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 mb-3">
    <div style="border-radius: 8px;" class="p-4 bg-light border shadow-sm">
      <h1 class="fw-bold text-primary"><%= number_to_currency(@token_total * 4000, delimiter: '.', precision: 0 ) %></h1>
      <p>Total vendido.</p>
    </div>
  </div>
</div>

<h1><strong>Todos los tickets</strong></h1>
<table class="table table-striped border">
  <thead>
    <tr>
      <th scope="col">Tickets</th>
      <th scope="col">Hamburguesas de carnes</th>
      <th scope="col">Hamburguesas veggie</th>
      <th scope="col">Bebidas</th>
      <th scope="col">Tokens</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @tickets.each do |ticket| %>
    <tr>
      <td><%= link_to "Ticket ##{ticket.id}", ticket_path(ticket) %></td>
      <td><%= ticket.burger_quantity %></td>
      <td><%= ticket.veggie_quantity %></td>
      <td><%= ticket.drink_quantity %></td>
      <td><%= ticket.tokens %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  document.addEventListener('keydown', function(event) {
    if (event.key === 'N' || event.key === 'n') {
      window.location.href = '<%= new_ticket_path %>';
    }
  });
</script>
