<h1>Crear nuevo ticket individual</h1>
<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :burger_quantity, label: "¿Cuántas hamburguesas son?", autofocus: true %>
    <%= f.input :promo, autofocus: true, as: :hidden, input_html: { value: false } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Crear ticket ->", class: "btn btn-primary" %>
  </div>
<% end %>
<hr>

<h1>Crear nuevo ticket promo</h1>
<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :burger_quantity, label: "¿Cuántas promos son?", autofocus: true %>
    <%= f.input :promo, autofocus: true, as: :hidden, input_html: { value: true }  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Crear promo ->", class: "btn btn-primary" %>
  </div>
<% end %>
<hr>
<div>
  <%= link_to "Ver totales", tickets_path %>
</div>
