<div class="container">
  <div class="mb-3">
    <%= link_to "<- Ver totales", tickets_path, class: "btn btn-primary" %>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-6">
      <div style="border-radius: 12px;" class="p-4 bg-light border shadow-sm">
        <h1><strong>Crear nuevo ticket</strong></h1>
        <%= simple_form_for(@ticket) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :burger_quantity, label: "¿Cuántas hamburguesas de carne son?", autofocus: true %>
            <% if @veggies <= 125 %>
            <%= f.input :veggie_quantity, label: "¿Cuántas hamburguesas veggie son? Quedan #{126 - @veggies} disponibles" %>
            <% end %>
            <%= f.input :drink_quantity, label: "¿Cuántas bebidas son?" %>
            <%= f.input :promo, as: :hidden, input_html: { value: false } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Crear ticket ->", class: "btn btn-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('keydown', function(event) {
    if (event.key === 'T' || event.key === 't') {
      window.location.href = '<%= tickets_path %>';
    }
  });
</script>
