<h1>Ticket #<%= @ticket.id %></h1>
<% if @ticket.burger_quantity.positive? %>
  <h3><%= @ticket.burger_quantity %> hamburguesas de carne</h3>
<% end %>
<% if @ticket.veggie_quantity.positive? %>
  <h3><%= @ticket.veggie_quantity %> hamburguesas veggie</h3>
<% end %>
<% if @ticket.drink_quantity.positive? %>
  <h3><%= @ticket.drink_quantity %> bebidas</h3>
<% end %>
<h3><%= @ticket.tokens  %> tokens</h3>
<%= link_to "Imprimir ->", "#{ticket_path(@ticket)}.pdf", autofocus: true, target: 'blank', class: "btn btn-primary"%> <br><hr>
<code>Presiona N para crear un nuevo ticket.</code> <br>
<p class="mt-2"><code>Presiona T para ver los totales.</code></p>
<%= button_to "Eliminar este ticket", @ticket, method: :delete, class: "btn btn-danger text-white" %>

<script>
  document.addEventListener('keydown', function(event) {
    if (event.key === 'N' || event.key === 'n') {
      window.location.href = '<%= new_ticket_path %>';
    }
  });

  document.addEventListener('keydown', function(event) {
    if (event.key === 'T' || event.key === 't') {
      window.location.href = '<%= tickets_path %>';
    }
  });
</script>
