<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ticket #<%= @ticket_id %></title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
      body {
        font-family: 'Inter', sans-serif;
      }
    </style>
  </head>
  <body style="text-align: center;">
    <%= image_tag wicked_pdf_asset_base64('ticket.jpg'), style: "height: 125px;" %>
    <h1>Ticket #<%= @ticket.id %></h1>
    <% if @ticket.burger_quantity.positive? %>
      <h3><%= @ticket.burger_quantity %> hamburguesas de carne</h3>
    <% end %>
    <% if @ticket.veggie_quantity.positive? %>
      <h3><%= @ticket.veggie_quantity %> hamburguesas veggie</h3>
    <% end %>
    <% if @ticket.drink_quantity.positive? %>
      <h3><%= @ticket.drink_quantity %> bebidas</h3>
    <% end %>
    <h3><%= @ticket.tokens %> tokens</h3>
    <p>Ticket creado a las <%= @ticket.created_at.in_time_zone("America/Santiago").strftime("%H:%M") %></p>
  </body>
</html>
