<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ticket #<%= @ticket_id %></title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
      body {
        font-family: 'Inter', sans-serif;
      }
    </style>
  </head>
  <body>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/anwarjamis", style: "height: 125px;" %>
    <h1>Ticket #<%= @ticket.id %></h1>
    <h3><%= @ticket.burger_quantity %> hamburguesas</h3>
    <h3><%= @ticket.burger_quantity * 1.5 %> tokens</h3>
    <p>Este ticket fue creado a las <%= @ticket.created_at.in_time_zone("America/Santiago").strftime("%H:%M") %></p>
  </body>
</html>
